streamlit
streamlit-local-storage
python-dotenv
requests
langgraph
langchain-core
langchain-huggingface
langchain-community
typing-extensions
duckduckgo-search
langgraph-checkpoint
langgraph-checkpoint-sqlite
ddgs 